.closeAll {
  margin-top: 5px;
  text-decoration: underline;
  color: blueviolet;
}

.doneBtn {
  margin-left: 10px;
  width: 42%;
  background-color: rgb(237, 93, 93);
  border-radius: 15px;
  padding: 10px;
  border: none;
}

.filterfooter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-top: 180px;
}

.filterheader{ 
    padding: 0px 20px 10px 20px;
}


