.homefeatuers{ 
    color: #686C6E;
}

.homesuggest{ 
    color: #686C6E;
}

.firstimg{ 
    border-radius: 30px;
    height: 179px;
}

.secondimg{ 
    border-radius: 30px;
    height: 179px;
}

.thirdimg{ 
    border-radius: 30px;
    height: 179px;
}

.brandhome{ 
    margin: 4px;
    color: #686C6E;
    
}

.headhome{ 
    padding: 0px 20px 10px 20px;
}